{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page | Product List</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <h1>Product List Below! :)</h1>
    <p>Product card with image incoming</p>
    <img src="{% static 'images/no-image.jpg'%}" alt="">
    <ul>
        {% for product in product_list %}
        <li>{{product.name}} [Rp.{{product.price}}]</li>
        {% endfor %}

    </ul>
</body>
</html>